<title>GoodSpirits | Home Page</title>
<link rel="stylesheet" href="../stylesheets/style.css">
<link rel='stylesheet' href='/stylesheets/login.css' />
</head>

<body background="http://www.mackinnonphotography.com/wp-content/uploads/galleries/post-214/full/DSC_8575.jpg">
