    <title> GoodSpirits | Search </title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel='stylesheet' href='/stylesheets/search.css' />
  </head>
  <body>
 <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" id='logocolor' href="/">GoodSpirits</a>
    </div>
    <ul class="nav navbar-nav">
      <li id="homeheader"><a href="/">Home</a></li>
      <li id="loginheader"><a href="/login">Login</a></li>
      <li id="signinheader"><a href="/signup">Signup</a></li>
      <li id="searchheader" class="active"><a href="/search">Search</a></li>
      <li id="profileheader"><a href="/users/profile">Profile</a></li>
    </ul>
  </div>
</nav>
