<% include ./partials/header %>
<% include ./partials/beerpartial %>
<% include ./partials/navBar %>

<div class="container">
  <h1 id='beerheader'></h1>
  <hr>
  <img src="" alt="" id="beerimg">
  <h2>Users Who Have Liked This Beer: </h2>



  <div>
    <ul id="usersList" class='row'>
    </ul>
  </div>

  <hr>

 <h3>Have you had this beer and liked it? Add a comment and like it now!</h3>
  <textarea id='review' class="comment-box" name="textarea" rows="3" cols="40" placeholder="Write a quick review here"></textarea>
  <br>
 <button class="like">Like
 </button>

</div>

<script src="../javascripts/beer.js"></script>
<% include ./partials/footer %>
