<!DOCTYPE html>
<html>
<head>
  <title> Who has liked the beers </title>
</head>
<body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script src="../javascripts/beersLiked.js"></script>
</body>
</html>
