<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
</head>
<body>
  <header>
    <div id='header'>
      <button id='SignUp'>Sign Up</button>
      <button id='LogIn'>Log In</button>
      <button id='Search'>Search</button>
    </div>
  </header>

</body>
</html>
