<% include ./partials/header %>
<% include ./partials/homepartial %>
<% include ./partials/navBar %>

    <div class='container background'>
      <section id='logo'>
        <h1 id='h1'>GoodSpirits</h1>
      </section>

      <section id="feed">
        <div>
          <h3 id='tagline'>"With us, you'll always be in GoodSpirits"</h3>
          <h3>SOCIAL FEED</h3>
        </div>
      </section>
    </div>

<% include ./partials/footer %>
