<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GoodSpirits | Home Page</title>
  <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body background="http://www.mackinnonphotography.com/wp-content/uploads/galleries/post-214/full/DSC_8575.jpg">
  <header>
    <div>
      <ul id='mainheader'>
        <li class='headerlinks' id='loginlink'><a href="/login">Log In</a></li>
        <li class='headerlinks' id='signuplink'><a href="/signup">Sign Up</a></li>
        <li class='headerlinks' id='searchlink'><a href="/search">Search</a></li>
        <span class></span>
      </ul>
    </div>
  </header>
    <div class='container background'>
      <section id='logo'>
        <h1 id='h1'>GoodSpirits</h1>
      </section>

      <section id="feed">
        <div>
          <h3 id='tagline'>"With us, you'll always be in GoodSpirits"</h3>
          <h3>SOCIAL FEED</h3>
        </div>
      </section>
    </div>
  <address>
    <strong>GoodSpirits, Inc.</strong><br>
    600 Congress Ave, Suite 1500<br>
    Austin,TX 78701<br>
    <abbr title="Phone">P:</abbr> (512) 333-1010
  </address>
  <address>
    <strong>Kayla Thomas</strong><br>
    <a href="mailto:#">kayla.thomas@goodspirits.com</a>
  </address>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script src="../javascripts/script.js"></script>
</body>
</html>
