<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Good Spirits | Home Page</title>
</head>
<body>
  <header>
    <div id='header'>
      <button id='signUp'>Sign Up</button>
      <button id='logIn'>Log In</button>
      <button id='search'>Search</button>
    </div>
  </header>

  <section id='logo'>
    <h1 id='gslogo'>GoodSpirits</h1>
  </section>

</body>
</html>
