<!DOCTYPE html>
<html>
  <head>
    <title> Login </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Good Spirits </h1>
    <p> Log In page</p>
      <input type="text" name="username">
      <input type="text" name="password">
     <input type="submit" value="Submit">
  </body>
</html>
