<!DOCTYPE html>
<html>
  <head>
    <title> Login </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <header>
      <div>
        <ul id='mainheader'>
          <li class='headerlinks' id='homelink'><a href="/">Home</a></li>
          <li class='headerlinks' id='signuplink'><a href="/signup">Sign Up</a></li>
          <li class='headerlinks' id='searchlink'><a href="/search">Search</a></li>
        </ul>
      </div>
    </header>

  <section id="main">
    <h1> Good Spirits </h1>
    <p> Log In page</p>
    <form action="/login" method='post'>
      <input type="text" name="username">
      <input type="text" name="password">
     <input type="submit" value="Submit">
    </form>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script src="../javascripts/script.js"></script>
  </body>
</html>
