<% include ./partials/header %>
<% include ./partials/profilepartial %>


<div class="container">
    <section class="maincontent">
    <h1> Welcome <%= userId %>!</h1>
    </section>
    <h2 id="subtext">
      Here are all of the beers you've liked recently:
    </h2>
  <!--   <div class="row"> -->
      <div id="beerlikes" class='row'>

      </div>
  <!--   </div> -->

</div>

<script src="../javascripts/profile.js"></script>
<% include ./partials/footer %>
