<% include ./partials/header %>
<% include ./partials/profilepartial %>

    <section class="maincontent">
    <h1> Welcome <%= userId %></h1>
    <div id="logoutlink">
      <a href="/logout">Logout</a>
    </div>

    <ul id="beerlikes">

    </ul>


    </section>


<script src="../javascripts/profile.js"></script>
<% include ./partials/footer %>
