<% include ./partials/header %>
<% include ./partials/profilepartial %>

    <section class="maincontent">
    <h1> Welcome <%= userId %></h1>
    <div id="logoutlink">
      <a href="/logout">Logout</a>
    </div>

    <ul id="beerlikes">
      <li id="beers"></li>
    </ul>


    </section>

    <div class="card">
  <img class="card-img-top" data-src="..." alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Beer</h4>
    <li class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/" class="btn btn-primary">Button</a>
  </div>
</div>


<script src="../javascripts/profile.js"></script>
<% include ./partials/footer %>
