<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1> Profile Page </h1>

    <a href="/profile">Visit your profile</a>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script src="../javascripts/script.js"></script>

  </body>
</html>
