<% include ./partials/header %>
<% include ./partials/profilepartial %>

    <section class="maincontent">
    <h1> Welcome <%= userId %></h1>

    <ul id="beerlikes">

    </ul>
    <li class='headerlinks' id='logoutlink'><a href="/logout">Logout</a></li>
    </section>


<script src="../javascripts/profile.js"></script>
<% include ./partials/footer %>
