<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1> Profile Page </h1>

    <a href="/profile">Visit your profile</a>
  </body>
</html>
