<% include ./partials/header %>
<% include ./partials/profilepartial %>
<% include ./partials/navBar %>


<div class="container">
  <section class="maincontent">
    <h1> Welcome <%= userId %>!</h1>
  </section>
    <h2 id="subtext">
      Here are all of the beers you've liked recently:
    </h2>
      <div id="beerlikes" class='row'>
      </div>
</div>

<script src="../javascripts/profile.js"></script>
<% include ./partials/footer %>
