<% include ./partials/header %>
<% include ./partials/searchpartial %>

  <section class="maincontent">
      <form>
        <input type='text' id='searchForBeer' name="search" placeholder='Search...'>
      </form>
      <ul id='beerList'>

      </ul>
  </section>

  <script src="../javascripts/beerSearch.js"></script>
<% include ./partials/footer %>
