<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GoodSpirits | Search</title>
</head>
<body>
  <form>
    <input type='text' name="search">
    <input type="submit" value="Submit">
  </form>
</body>
</html>
