<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GoodSpirits | Search</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
<<<<<<< HEAD

=======
>>>>>>> master
</head>
<body>

    <header>
      <div>
        <ul id='mainheader'>
          <li class='headerlinks' id='homelink'><a href="/">Home</a></li>
          <li class='headerlinks' id='signuplink'><a href="/signup">Sign Up</a></li>
          <li class='headerlinks' id='searchlink'><a href="/search">Search</a></li>
        </ul>
      </div>
    </header>

  <section class="maincontent">
      <form>
        <input type='text' id='searchForBeer' name="search" placeholder='Search...'>
      </form>
      <ul id='beerList'>

      </ul>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script src="../javascripts/beerSearch.js"></script>
</body>
</html>
