<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GoodSpirits | Search</title>
</head>
<body>
  <form>
    <input type='text' id='searchForBeer' name="search" placeholder='Search...'>
  </form>
  <ul id='beerList'>

  </ul>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script src="../javascripts/script.js"></script>
</body>
</html>
