<% include ./partials/header %>
<% include ./partials/signuppartial %>

  <section class="maincontent">
    <p>This is the Sign Up Page</p>
    <form action="/signup" method='post'>
      <input type="text" name="username" placeholder="Username">
      <input type="text" name="password" placeholder="Password">
      <input type="text" name="email" placeholder="Email">
      <input type="submit" value="Submit">
    </form>
  </section>

<script src="../javascripts/script.js"></script>
<% include ./partials/footer %>
