<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GoodSpirits | Sign In</title>
</head>
<body>
  <p>This is the Sign Up Page</p>
  <form action="/signup" method='post'>
    <input type="text" name="username">
    <input type="text" name="password">
    <input type="submit" value="Submit">
  </form>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script src="../javascripts/script.js"></script>
</body>
</html>
