#beerheader {
  color: #FE4B28;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  margin-top: 50px;
  font-size: 60px;
}

body{
  background-color: #D4D4D4;
}

img {
  position: relative;
  left: 125px;
  max-width: 200px;
  margin: 2px 0px 0px 500px;
  padding: 20px;
}

h2{
  font-size: 35px;
  margin-left: 100px;
  padding: 10px 10px 10px 10px;
  font-family: 'Dancing Script', cursive;
}

ul {
  list-style: none;
  text-decoration: none;
}

#usersList{
  margin-left: 75px;
  font-size: 25px;
  color: #FE4B28;
  text-decoration: none;
  padding-bottom: 15px;
}

.well {
  background-color: #0596D5;
  color: white;
  width: 400px;
  text-align: center;
 /* margin: 1px 1px;*/
 }

 a {
  color: white;
  font-weight: 600;
  font-size: 25px;
}

a:hover {
  color: #24D560;
}
