img {
  max-width: 200px;
  margin: 2px 0px 0px 500px;
  padding: 20px;
}

ul {
  list-style: none;
  text-decoration: none;
}

#usersList{
  margin-left: 75px;
  font-size: 25px;
  color: #FE4B28;
  text-decoration: none;
  padding-bottom: 15px;
}

.well {
  background-color: #0596D5;
  color: white;
  width: 300px;
  text-align: center;
 /* margin: 1px 1px;*/
 }

 a {
  color: white;
  font-weight: 600;
  font-size: 15px;
}

a:hover {
  color: #24D560;
}

h1 {
  margin-top: 40px;
  color: #0596D5;
  /*font-weight: 600px;*/
  font-size: 70px;
}

h2 {
  margin-top: 40px;
  color: #0596D5;
  font-weight: 600px;
  font-size: 30px;
  margin-bottom: 15px;
}

button#like {
  display: relative;
  right: 600px;
}

