#beerheader {
  color: #FE4B28;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  margin-top: 100px;
  font-size: 60px;
}

body{
  background-color: #999999;
}

a{
  color: #03497E;
}

a:hover{
  text-decoration: none;
  color: #FE4B28;
}

img {
  width: 100%;
  max-width: 200px;
  text-align: center;
  margin: 2px 0px 0px 500px;
  padding: 20px;
}

h2{
  font-size: 35px;
  margin-left: 100px;
  padding: 10px 10px 10px 10px;
  font-family: 'Dancing Script', cursive;
}

ul {
  list-style: none;
  text-decoration: none;
}

#usersList{
  margin-left: 75px;
  font-size: 25px;
  color: #FE4B28;
  text-decoration: none;
  padding-bottom: 15px;
}
