section.maincontent {
  margin-top: 30px;
}

h2 {
  margin-top: 40px;
  color: #0596D5;
  font-weight: 600px;
  font-size: 70px;
}

#searchForBeer {
  margin-top: 10px;
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 10px;
  padding: 10px;
  background: rgba(darken($primary,40%), 0.85);
  border-radius: 10px;
  border: 2px solid #24D560;
  margin-bottom: 20px;
  margin-left: -15px;
}

.well {
  background-color: #0596D5;
  color: white;
    text-align: center;
}

a {
  color: white;
  font-weight: 600;
  font-size: 17px;
}


.hideOnLoad{
  display:none;
}

.well:hover button.hideOnLoad{
  display:inline-block;
  color:black;
}

button {
  height: 10px;
  font-size: 10px;

}

.submit-review {
  height: 25px;
  position: relative;
  bottom: 50px;
  left: 15px;
  border-radius: 5px;
  background-color: #24D560;
}

.showOnClick {
  /*padding-bottom: 20px;*/
}

.comment-box {
  color: black;
}

.hideOnLoad {
  margin-left: 5px;
}
