
#signupheader {
  font-size: 40px;
  margin-top: 80px;
  margin-left: 15px;
}

#loginbutton {
  width: 200px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  background-color: white;
  margin-top: 15px;
  border: 2px solid #24D560;
  border-radius: 10px;
}

#loginbutton:hover {
  background-color: #24D560;
  cursor: pointer;
}

body {
  font-family: "Open Sans", sans-serif;
  font-color: #0596D5;
}

.title {
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 30px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }


.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  background: rgba(darken($primary,40%), 0.85);
}

#password {
    border-radius: 10px;
    border: 2px solid #24D560;
    padding: 20px;
    width: 200px;
    height: 5px;
    margin-top: 10px;
}

#username {
    border-radius: 10px;
    border: 2px solid #24D560;
    padding: 20px;
    width: 200px;
    height: 5px;
}

#email {
    border-radius: 10px;
    border: 2px solid #24D560;
    padding: 20px;
    width: 200px;
    height: 5px;
    margin-top: 10px;
}

.signup {

  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 320px;
  background: #03497E;
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  text-align: center;
  font-size: 20px;

  &.loading {
    button {
      max-height: 100%;
      padding-top: 50px;
      .spinner {
        opacity: 1;
        top: 40%;
      }
    }
  }

  input {
    display: block;
    padding: 15px 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: #ccc;

    &+ i.fa {
        color: #fff;
      font-size: 1em;
      position: absolute;
      margin-top: -47px;
      opacity: 0;
      left: 0;
      transition: all 0.1s ease-in;
    }

    &:focus {
      &+ i.fa {
        opacity: 1;
        left: 30px;
      transition: all 0.25s ease-out;
      }
      outline: none;
      color: #444;
      border-color: $primary;
      border-left-width: 35px;
    }

  }

  a {
   font-size: 0.8em;
    color: $primary;
    text-decoration: none;
  }


}
