a {
  color: white;
  text-decoration: none !important;
}



.headerlinks {
  list-style-type: none;
  display: inline-block;
  padding: 10px 0px;
  margin-left: 60px;
  text-decoration: none;
  font-size: 25px;
}

#logo {
  padding: 80px;
  background: none;
  width: 90%;
  height: 80px;
  top: 0;
  left: 0;
  /*margin-left: -10px;*/
}

#feed {
  padding: 80px;
}

#loginlink:hover{
  background: #000;
  padding: 10px 10px 10px 10px;
  text-align: center;
  text
}

#signuplink:hover{
  background: #000;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

#searchlink:hover{
  background: #000;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

#homelink:hover{
  background: #8B0000;
  height: 20px;
  width: 37px;
  text-align: center;
}

#searchbar {
  margin-top: 100px;
}

.maincontent {
  margin-top: 100px;
}

#signupform {
  margin-top: 100px;
}

#h1 {
  font-family: 'Playball', cursive;
  font-size: 100px;
  margin-left: 250px;
  margin-top: 3px;
  color: #FE4B28;
}

#recentlyliked{
  font-size: 50px;
  padding: 40px 0 0 0;
  font-family: 'Rubik', italic;
  margin-left: -40px;
}

#tagline{
  color:#FE4B28;
  font-size: 25px;
  margin-left: 270px;
  font-family: 'Playball', cursive;
}

.navbar-right{
  margin: 15px 15px 15px 15px;
  background-color: transparent;
  width: 4%;

}

#beerlikes{
  list-style: none;
  font-size: 30px;
  padding: 10px 0 0 0;
  font-family: 'Arapey', cursive;
  font-weight: bold;

}

.hidden{
  display:none;
}


address{
  color: #FE4B28;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  font-family: 'Playball', cursive;
}
