body {
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
  background:
  background-size: cover;
  background-repeat: no-repeat;

}

a {
  color: white;
  text-decoration: none !important;
}

/*#mainheader {
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;*/
    /*width: 100%;
    height: 60px;
    min-height: 60px;
    line-height: 60px;
    color: #fff;
    background: #03497E;
    z-index: 99998;
    font-family:'Indie Flower', cursive;

}*/

.headerlinks {
  list-style-type: none;
  display: inline-block;
  padding: 10px 0px;
  margin-left: 60px;
  text-decoration: none;
  font-size: 25px;
}

#logo {
  padding: 80px;
  background: none;
  width: 90%;
  height: 80px;
  top: 0;
  left: 0;
  /*margin-left: -10px;*/
}


#feed {
  padding: 80px;
/*  width: 100%;*/
  height: 150px;
  top: 0;
  left: 0;
/*  margin-left: -9px;*/
}

#loginlink:hover{
  background: #000;
  padding: 10px 10px 10px 10px;
  text-align: center;
  text
}

#signuplink:hover{
  background: #000;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

#searchlink:hover{
  background: #000;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

#homelink:hover{
  background: #8B0000;
  height: 20px;
  width: 37px;
  text-align: center;
}

#searchbar {
  margin-top: 100px;
}

.maincontent {
  margin-top: 100px;
}

#signupform {
  margin-top: 100px;
}

#h1 {
  font-family: 'Playball', cursive;
  font-size: 95px;
  margin-left: 250px;
  margin-top: 5px;
  color: #FE4B28;
}

#tagline{
  color:#FE4B28;
  font-size: 25px;
  padding: 3px;
  margin-left: 260px;
  font-family: 'Playball', cursive;
}

.navbar-right{
  margin: 15px 15px 15px 15px;
  background-color: transparent;
  width: 4%;

}

.hidden{
  display:none;
}

li:hover .hidden{
  display:inline-block;
  color:black;
}

.background{
  background-color: rgba(210,210,210, .6);
  height: 100vh;
}

address{
  color: #FE4B28;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-family: 'Playball', cursive;
}
