body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

#mainheader {
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    /*min-height: 60px;
    line-height: 60px;*/
    color: #fff;
    background: #E74C3C;
    font-family: Helvetica, Arial, sans-serif;
    z-index: 99998

}

.headerlinks {
  list-style-type: none;
  display: inline-block;
  padding: 20px 10px;
  margin-left: 60px;
  text-decoration: none;
}

#logo {
  padding: 80px;
  background: #ECF0F1;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  margin-left: -10px;
}

#feed {
  padding: 80px;
  border: 2px solid #2C3E50;
  width: 100%;
  height: 150px;
  top: 0;
  left: 0;
  margin-left: -9px;
}

#loginlink:hover{
  background: #8B0000;
  height: 20px;
  width: 39px;
  text-align: center;
}

#signuplink:hover{
  background: #8B0000;
  height: 20px;
  width: 50px;
  text-align: center;
}

#searchlink:hover{
  background: #8B0000;
  height: 20px;
  width: 45px;
  text-align: center;
}

#homelink:hover{
  background: #8B0000;
  height: 20px;
  width: 37px;
  text-align: center;
}

#searchbar {
  margin-top: 100px;
}

.maincontent {
  margin-top: 100px;
}

#signupform {
  margin-top: 100px;
}

